1. Import data/listings.csv into a dataframe and display the first few rows of the dataframe.

2. Show the last two column names of the dataframe. Do this programmatically, do not hard code the column names.

3. Create a new column `price_as_float` that is the `price` column converted to a float.
(I will do this one for you to help you out)

In [2]:
listings_df['price_as_float'] = listings_df['price'].replace('[\$,]', '', regex=True).astype(float)

4. Find the highest `price` of the listings. Find the both mean and median average `price`.

5520.0

5. Add a column `price_range` to the dataframe. Group `price_as_float` into 5 groups: 

"No Price" = 0,

"Cheap" = >0 to <100,

"Mid" = >=100 to <250,

"Pricey" = >=250 to <1000,

"Luxury" = >=1000.

6. Create a bar plot of the `price_range`.

## Bonus Challenge

7. Create a scatter plot of `price_as_float` against `number_of_reviews`.